* {
  width: 500px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
img {
  width: auto;
  display:block;
  margin:0 auto;
}
p {
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}
div {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
